@model OEEPortal_MVC5.Models.MachineOutputRecord

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MachineOutputRecord</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Machine.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Machine.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reference.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reference.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Shift.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shift.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OperatorId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OperatorId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EquipmentBreakDown)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EquipmentBreakDown)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChangeOver)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChangeOver)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaterialDownTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaterialDownTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuantityDownTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuantityDownTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OtherNonProduct)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OtherNonProduct)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PreventiveMaintenance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PreventiveMaintenance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManagementMeeting)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManagementMeeting)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegulatoryBreaks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegulatoryBreaks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PilotRun)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PilotRun)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MachineOutputRecordId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
