<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>OEE Portal-@ViewBag.Title </title>

    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header style="background-color:green;">
       
            <div class="logo">
               
                <img src="~/Images/schneider_logo.jpg" width="200" height="100" alt="img1" />
           </div>
            <div class="box2">
                <p>OEE Portal</p>
            </div>
       
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
